In [7]:
import pandas as pd

test = pd.read_csv('/Users/hwangjaesung/Downloads/mango_user_04261723.csv')
test

       Unnamed: 0   nickname       title eval_user
0               0         준영     우동 이요이요       맛있다
1               1         준영         장꼬방       맛있다
2               2         준영          헤키       맛있다
3               3         준영  길버트버거앤프라이즈       맛있다
4               4         준영         다로베       맛있다
...           ...        ...         ...       ...
31889       31889        gom    옥수동 화덕피자       맛있다
31890       31890  guilietta        콴안다오       맛있다
31891       31891    ha park       캔프 치킨       맛있다
31892       31892     hailie        메종엠오       맛있다
31893       31893        ￦on        따띠따띠       NaN

[31894 rows x 4 columns]

In [9]:
test = test.rename(columns={'Unnamed: 0':'id'})

In [12]:
test = test.rename(columns={'title':'store'})

In [14]:
test.drop(columns='id', inplace=True)

In [ ]:
test.to_csv('/Users/hwangjaesung/Downloads/mango_user_04261723.csv', index = True)

In [1]:


import pandas as pd

test2 = pd.read_csv('/Users/hwangjaesung/Downloads/save_table_0429_1525.csv')
test2

,Unnamed: 0,store,point,view,review,star,address,food_type,price,parking,opening,breaktime,dayoff,address_gu,category,main_food
0,0,램랜드,4.3,"49,465",34,"1,324",서울시 마포구 용강동 494-32,고기 요리,2만원-3만원,발렛,11:30 - 22:00,NaN,NaN,마포구,한식,['양고기']
1,1,청춘구락부,4.3,"14,857",11,199,서울시 마포구 용강동 50-4,"['고기 요리', '특양구이\n32,000원\n평양냉면\n11,000원\n대창구이\...",2만원-3만원,발렛,11:00 - 23:00,NaN,NaN,마포구,한식,['소등심']
2,2,장꼬방,4.1,"143,704",154,"3,694",서울시 서초구 서초동 1316,카페 / 디저트,만원 미만,주차공간없음,09:00 - 22:00,NaN,NaN,서초구,한식,['단팥죽']
3,3,프로간장게장,4.0,"121,224",101,"2,464",서울시 서초구 잠원동 27-1 프로빌딩,한정식 / 백반 / 정통 한식,4만원 이상,발렛,00:00 - 24:00,NaN,NaN,서초구,한식,['간장게장']
4,4,진동둔횟집,4.0,"19,085",20,270,서울시 서초구 잠원동 36-18,"['해산물 요리', '세꼬시 1인\n43,000원\n광어 1인\n43,000원\n된...",3만원-4만원,발렛,12:00 - 22:00,NaN,일,서초구,일식,['대구탕']
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
792,792,도치피자,3.2,"27,993",32,546,서울시 광진구 구의동 218-10,['이탈리안'],2만원-3만원,무료주차 가능,11:30 - 22:00,NaN,NaN,광진구,양식,['이탈리안']
793,793,은호초밥,3.2,"9,907",42,101,서울시 광진구 자양동 7-22,"['회', '스시']",만원-2만원,주차공간없음,11:30 - 24:00,NaN,NaN,광진구,일식,"['회', ' 스시']"
794,794,육회한연어,3.2,"7,961",11,43,서울시 광진구 화양동 49-13,['고기 요리'],만원-2만원,주차공간없음,15:00 - 03:00,NaN,NaN,광진구,한식,['고기 요리']
795,795,메차쿠차,3.2,"16,540",15,155,서울시 광진구 구의동 593-9,['까스 요리'],만원 미만,무료주차 가능,11:00 - 21:00,NaN,NaN,광진구,일식,['까스 요리']
796,796,얹다,3.7,"2,701",8,51,서울시 마포구 연남동 383-82 신박사빌딩 2F,"['라멘', '소바', '우동']",만원 미만,NaN,NaN,NaN,NaN,마포구,일식,"['라멘', ' 소바', ' 우동']"

In [2]:
#test2.reset_index(inplace=True)

In [24]:
test2

,Unnamed: 0,title,Point,View,Review,Star,Address,Type,Price,Parking,Opentime,Breaktime,Dayoff,Address_gu,업태명,주된음식
0,118,램랜드,4.3,"49,465",34,"1,324",서울시 마포구 용강동 494-32,고기 요리,2만원-3만원,발렛,11:30 - 22:00,NaN,NaN,마포구,한식,['양고기']
1,136,청춘구락부,4.3,"14,857",11,199,서울시 마포구 용강동 50-4,"['고기 요리', '특양구이\n32,000원\n평양냉면\n11,000원\n대창구이\...",2만원-3만원,발렛,11:00 - 23:00,NaN,NaN,마포구,한식,['소등심']
2,138,장꼬방,4.1,"143,704",154,"3,694",서울시 서초구 서초동 1316,카페 / 디저트,만원 미만,주차공간없음,09:00 - 22:00,NaN,NaN,서초구,한식,['단팥죽']
3,192,프로간장게장,4.0,"121,224",101,"2,464",서울시 서초구 잠원동 27-1 프로빌딩,한정식 / 백반 / 정통 한식,4만원 이상,발렛,00:00 - 24:00,NaN,NaN,서초구,한식,['간장게장']
4,195,진동둔횟집,4.0,"19,085",20,270,서울시 서초구 잠원동 36-18,"['해산물 요리', '세꼬시 1인\n43,000원\n광어 1인\n43,000원\n된...",3만원-4만원,발렛,12:00 - 22:00,NaN,일,서초구,일식,['대구탕']
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
792,195,도치피자,3.2,"27,993",32,546,서울시 광진구 구의동 218-10,['이탈리안'],2만원-3만원,무료주차 가능,11:30 - 22:00,NaN,NaN,광진구,양식,['이탈리안']
793,196,은호초밥,3.2,"9,907",42,101,서울시 광진구 자양동 7-22,"['회', '스시']",만원-2만원,주차공간없음,11:30 - 24:00,NaN,NaN,광진구,일식,"['회', ' 스시']"
794,198,육회한연어,3.2,"7,961",11,43,서울시 광진구 화양동 49-13,['고기 요리'],만원-2만원,주차공간없음,15:00 - 03:00,NaN,NaN,광진구,한식,['고기 요리']
795,199,메차쿠차,3.2,"16,540",15,155,서울시 광진구 구의동 593-9,['까스 요리'],만원 미만,무료주차 가능,11:00 - 21:00,NaN,NaN,광진구,일식,['까스 요리']
796,163,얹다,3.7,"2,701",8,51,서울시 마포구 연남동 383-82 신박사빌딩 2F,"['라멘', '소바', '우동']",만원 미만,NaN,NaN,NaN,NaN,마포구,일식,"['라멘', ' 소바', ' 우동']"

In [4]:
test2.drop(columns='Unnamed: 0', inplace=True)

In [5]:
test2

,title,Point,View,Review,Star,Address,Type,Price,Parking,Opentime,Breaktime,Dayoff,Address_gu,업태명,주된음식
0,램랜드,4.3,"49,465",34,"1,324",서울시 마포구 용강동 494-32,고기 요리,2만원-3만원,발렛,11:30 - 22:00,NaN,NaN,마포구,한식,['양고기']
1,청춘구락부,4.3,"14,857",11,199,서울시 마포구 용강동 50-4,"['고기 요리', '특양구이\n32,000원\n평양냉면\n11,000원\n대창구이\...",2만원-3만원,발렛,11:00 - 23:00,NaN,NaN,마포구,한식,['소등심']
2,장꼬방,4.1,"143,704",154,"3,694",서울시 서초구 서초동 1316,카페 / 디저트,만원 미만,주차공간없음,09:00 - 22:00,NaN,NaN,서초구,한식,['단팥죽']
3,프로간장게장,4.0,"121,224",101,"2,464",서울시 서초구 잠원동 27-1 프로빌딩,한정식 / 백반 / 정통 한식,4만원 이상,발렛,00:00 - 24:00,NaN,NaN,서초구,한식,['간장게장']
4,진동둔횟집,4.0,"19,085",20,270,서울시 서초구 잠원동 36-18,"['해산물 요리', '세꼬시 1인\n43,000원\n광어 1인\n43,000원\n된...",3만원-4만원,발렛,12:00 - 22:00,NaN,일,서초구,일식,['대구탕']
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
792,도치피자,3.2,"27,993",32,546,서울시 광진구 구의동 218-10,['이탈리안'],2만원-3만원,무료주차 가능,11:30 - 22:00,NaN,NaN,광진구,양식,['이탈리안']
793,은호초밥,3.2,"9,907",42,101,서울시 광진구 자양동 7-22,"['회', '스시']",만원-2만원,주차공간없음,11:30 - 24:00,NaN,NaN,광진구,일식,"['회', ' 스시']"
794,육회한연어,3.2,"7,961",11,43,서울시 광진구 화양동 49-13,['고기 요리'],만원-2만원,주차공간없음,15:00 - 03:00,NaN,NaN,광진구,한식,['고기 요리']
795,메차쿠차,3.2,"16,540",15,155,서울시 광진구 구의동 593-9,['까스 요리'],만원 미만,무료주차 가능,11:00 - 21:00,NaN,NaN,광진구,일식,['까스 요리']
796,얹다,3.7,"2,701",8,51,서울시 마포구 연남동 383-82 신박사빌딩 2F,"['라멘', '소바', '우동']",만원 미만,NaN,NaN,NaN,NaN,마포구,일식,"['라멘', ' 소바', ' 우동']"

In [6]:
#test2
#(id, store, point, view, review, star, address, type, price, parking, opening, breaktime, dayoff, address_gu, category, main_food);

test2.columns = ['store', 'point', 'view', 'review', 'star', 'address', 'food_type', 'price', 'parking', 'opening', 'breaktime', 'dayoff', 'address_gu', 'category', 'main_food'];

In [20]:
#test2.rename(columns={'index':'id'}, inplace=True)

In [28]:
test2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 797 entries, 0 to 796
Data columns (total 15 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   store       797 non-null    object
 1   point       797 non-null    float64
 2   view        797 non-null    object
 3   review      797 non-null    int64
 4   star        797 non-null    object
 5   address     797 non-null    object
 6   food_type   797 non-null    object
 7   price       779 non-null    object
 8   parking     658 non-null    object
 9   opening     656 non-null    object
 10  breaktime   284 non-null    object
 11  dayoff      119 non-null    object
 12  address_gu  797 non-null    object
 13  category    797 non-null    object
 14  main_food   797 non-null    object
dtypes: float64(1), int64(1), object(13)
memory usage: 93.5+ KB

In [7]:
test2

,store,point,view,review,star,address,food_type,price,parking,opening,breaktime,dayoff,address_gu,category,main_food
0,램랜드,4.3,"49,465",34,"1,324",서울시 마포구 용강동 494-32,고기 요리,2만원-3만원,발렛,11:30 - 22:00,NaN,NaN,마포구,한식,['양고기']
1,청춘구락부,4.3,"14,857",11,199,서울시 마포구 용강동 50-4,"['고기 요리', '특양구이\n32,000원\n평양냉면\n11,000원\n대창구이\...",2만원-3만원,발렛,11:00 - 23:00,NaN,NaN,마포구,한식,['소등심']
2,장꼬방,4.1,"143,704",154,"3,694",서울시 서초구 서초동 1316,카페 / 디저트,만원 미만,주차공간없음,09:00 - 22:00,NaN,NaN,서초구,한식,['단팥죽']
3,프로간장게장,4.0,"121,224",101,"2,464",서울시 서초구 잠원동 27-1 프로빌딩,한정식 / 백반 / 정통 한식,4만원 이상,발렛,00:00 - 24:00,NaN,NaN,서초구,한식,['간장게장']
4,진동둔횟집,4.0,"19,085",20,270,서울시 서초구 잠원동 36-18,"['해산물 요리', '세꼬시 1인\n43,000원\n광어 1인\n43,000원\n된...",3만원-4만원,발렛,12:00 - 22:00,NaN,일,서초구,일식,['대구탕']
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
792,도치피자,3.2,"27,993",32,546,서울시 광진구 구의동 218-10,['이탈리안'],2만원-3만원,무료주차 가능,11:30 - 22:00,NaN,NaN,광진구,양식,['이탈리안']
793,은호초밥,3.2,"9,907",42,101,서울시 광진구 자양동 7-22,"['회', '스시']",만원-2만원,주차공간없음,11:30 - 24:00,NaN,NaN,광진구,일식,"['회', ' 스시']"
794,육회한연어,3.2,"7,961",11,43,서울시 광진구 화양동 49-13,['고기 요리'],만원-2만원,주차공간없음,15:00 - 03:00,NaN,NaN,광진구,한식,['고기 요리']
795,메차쿠차,3.2,"16,540",15,155,서울시 광진구 구의동 593-9,['까스 요리'],만원 미만,무료주차 가능,11:00 - 21:00,NaN,NaN,광진구,일식,['까스 요리']
796,얹다,3.7,"2,701",8,51,서울시 마포구 연남동 383-82 신박사빌딩 2F,"['라멘', '소바', '우동']",만원 미만,NaN,NaN,NaN,NaN,마포구,일식,"['라멘', ' 소바', ' 우동']"

In [8]:
test2.to_csv('/Users/hwangjaesung/Downloads/save_table_0429_1525.csv', index = True)

In [3]:
import pandas as pd 

test3 = pd.read_csv('/Users/hwangjaesung/Downloads/user_0507.csv', )
test3

,1,active,test@example.com,$2b$12$xjcxSG1fapxvkURbbmtbBedTlxwvjpJtyHqVCaymPLGbEkZ.fihyW,준영,24,man,춘리마라탕,중식,\N,2023-05-03 11:47:18,2023-05-03 11:47:18.1
0,2,active,test1@example.com,$2b$12$LURF07027GL5MnSYCRgSpO9q7xZdwJjldx4Ysq1...,재성,27,\N,청진동해장국,중식,\N,2023-05-05 16:04:24,2023-05-05 16:04:24
1,3,active,test2@example.com,$2b$12$mtDWVy0EaKrvZXvsZS.uHOFXlT7lwPyQub.BdL5...,재성,27,man,\N,술집,\N,2023-05-06 15:11:29,2023-05-06 15:11:29
2,4,active,test3@example.com,$2b$12$BCHDaL8AosLNIehuOuu0RuC03PVdKtDb6RiSM2b...,승현,23,man,\N,술집,\N,2023-05-06 15:13:03,2023-05-06 15:13:03
3,5,active,test4@example.com,$2b$12$ehshqQAanM7nxoO/Oyyav.a9qwZ2f3rQTCdv2AS...,재성,28,man,\N,한식,\N,2023-05-06 16:43:24,2023-05-06 16:43:24
4,6,active,test5@example.com,$2b$12$.fZQqwO.QDUO6RnLO76gIOlZDjKO4VvjeD4H7An...,승현,26,man,\N,한식,\N,2023-05-06 16:47:29,2023-05-06 16:47:29
5,7,active,test6@example.com,$2b$12$BA6jbuDX2o59ntVOpMbimeuBq9d2treT5zOtJ7L...,한빈,18,man,\N,한식,\N,2023-05-06 16:48:29,2023-05-06 16:48:29
6,8,active,test7@example.com,$2b$12$BPgnEwXCVmrItJ2Hx0ASq.B/ZchWN/vX7GT31cv...,준영,20,man,\N,한식,\N,2023-05-06 17:07:32,2023-05-06 17:07:32
7,9,active,test8@example.com,$2b$12$ieJV/xt5FsjKs/1hmskVGOWdyDhhWulqXtRAH.4...,찬빈,20,man,\N,한식,\N,2023-05-06 17:07:54,2023-05-06 17:07:54
8,10,active,test9@example.com,$2b$12$R/xFvpEPPYot5vm5rtrcjup4C2ZBuvkjgParzyj...,준영,20,man,\N,한식,\N,2023-05-06 17:08:48,2023-05-06 17:08:48
9,11,active,test10@example.com,$2b$12$PNVrK5dBOMmPGl/9/5POAOB3pSfMOWnq321xpZY...,뇽뇽,23,man,\N,한식,\N,2023-05-07 01:35:50,2023-05-07 01:35:50
10,12,active,test11@example.com,$2b$12$IjHprllCOlZ4/7yhEcWsN.R1QJOrOPLO6rIcP6R...,승현,23,man,장꼬방,카페,\N,2023-05-07 01:46:41,2023-05-07 01:46:41
11,13,active,test12@example.com,$2b$12$yXOS423DyPKN4yU/TxEAUueFTP1QdFGjdYcRcvt...,승현,0,man,장꼬방,카페,\N,2023-05-07 01:55:29,2023-05-07 01:55:29

In [4]:
test3.columns = ['id', 'status', 'email', 'pw', 'nickname', 'age', 'gender', 'store', 'category', 'sns_type', 'updated_at', 'created_at']

In [5]:
test3.drop(columns='id')

,id,status,email,pw,nickname,age,gender,store,category,sns_type,updated_at,created_at
0,2,active,test1@example.com,$2b$12$LURF07027GL5MnSYCRgSpO9q7xZdwJjldx4Ysq1...,재성,27,\N,청진동해장국,중식,\N,2023-05-05 16:04:24,2023-05-05 16:04:24
1,3,active,test2@example.com,$2b$12$mtDWVy0EaKrvZXvsZS.uHOFXlT7lwPyQub.BdL5...,재성,27,man,\N,술집,\N,2023-05-06 15:11:29,2023-05-06 15:11:29
2,4,active,test3@example.com,$2b$12$BCHDaL8AosLNIehuOuu0RuC03PVdKtDb6RiSM2b...,승현,23,man,\N,술집,\N,2023-05-06 15:13:03,2023-05-06 15:13:03
3,5,active,test4@example.com,$2b$12$ehshqQAanM7nxoO/Oyyav.a9qwZ2f3rQTCdv2AS...,재성,28,man,\N,한식,\N,2023-05-06 16:43:24,2023-05-06 16:43:24
4,6,active,test5@example.com,$2b$12$.fZQqwO.QDUO6RnLO76gIOlZDjKO4VvjeD4H7An...,승현,26,man,\N,한식,\N,2023-05-06 16:47:29,2023-05-06 16:47:29
5,7,active,test6@example.com,$2b$12$BA6jbuDX2o59ntVOpMbimeuBq9d2treT5zOtJ7L...,한빈,18,man,\N,한식,\N,2023-05-06 16:48:29,2023-05-06 16:48:29
6,8,active,test7@example.com,$2b$12$BPgnEwXCVmrItJ2Hx0ASq.B/ZchWN/vX7GT31cv...,준영,20,man,\N,한식,\N,2023-05-06 17:07:32,2023-05-06 17:07:32
7,9,active,test8@example.com,$2b$12$ieJV/xt5FsjKs/1hmskVGOWdyDhhWulqXtRAH.4...,찬빈,20,man,\N,한식,\N,2023-05-06 17:07:54,2023-05-06 17:07:54
8,10,active,test9@example.com,$2b$12$R/xFvpEPPYot5vm5rtrcjup4C2ZBuvkjgParzyj...,준영,20,man,\N,한식,\N,2023-05-06 17:08:48,2023-05-06 17:08:48
9,11,active,test10@example.com,$2b$12$PNVrK5dBOMmPGl/9/5POAOB3pSfMOWnq321xpZY...,뇽뇽,23,man,\N,한식,\N,2023-05-07 01:35:50,2023-05-07 01:35:50
10,12,active,test11@example.com,$2b$12$IjHprllCOlZ4/7yhEcWsN.R1QJOrOPLO6rIcP6R...,승현,23,man,장꼬방,카페,\N,2023-05-07 01:46:41,2023-05-07 01:46:41
11,13,active,test12@example.com,$2b$12$yXOS423DyPKN4yU/TxEAUueFTP1QdFGjdYcRcvt...,승현,0,man,장꼬방,카페,\N,2023-05-07 01:55:29,2023-05-07 01:55:29

In [6]:
test3.to_csv('/Users/hwangjaesung/Downloads/user_0507.csv', index = True)

In [7]:
import pandas as pd 

test3 = pd.read_csv('/Users/hwangjaesung/Downloads/user_0507.csv', )
test3

,Unnamed: 0,id,status,email,pw,nickname,age,gender,store,category,sns_type,updated_at,created_at
0,0,2,active,test1@example.com,$2b$12$LURF07027GL5MnSYCRgSpO9q7xZdwJjldx4Ysq1...,재성,27,\N,청진동해장국,중식,\N,2023-05-05 16:04:24,2023-05-05 16:04:24
1,1,3,active,test2@example.com,$2b$12$mtDWVy0EaKrvZXvsZS.uHOFXlT7lwPyQub.BdL5...,재성,27,man,\N,술집,\N,2023-05-06 15:11:29,2023-05-06 15:11:29
2,2,4,active,test3@example.com,$2b$12$BCHDaL8AosLNIehuOuu0RuC03PVdKtDb6RiSM2b...,승현,23,man,\N,술집,\N,2023-05-06 15:13:03,2023-05-06 15:13:03
3,3,5,active,test4@example.com,$2b$12$ehshqQAanM7nxoO/Oyyav.a9qwZ2f3rQTCdv2AS...,재성,28,man,\N,한식,\N,2023-05-06 16:43:24,2023-05-06 16:43:24
4,4,6,active,test5@example.com,$2b$12$.fZQqwO.QDUO6RnLO76gIOlZDjKO4VvjeD4H7An...,승현,26,man,\N,한식,\N,2023-05-06 16:47:29,2023-05-06 16:47:29
5,5,7,active,test6@example.com,$2b$12$BA6jbuDX2o59ntVOpMbimeuBq9d2treT5zOtJ7L...,한빈,18,man,\N,한식,\N,2023-05-06 16:48:29,2023-05-06 16:48:29
6,6,8,active,test7@example.com,$2b$12$BPgnEwXCVmrItJ2Hx0ASq.B/ZchWN/vX7GT31cv...,준영,20,man,\N,한식,\N,2023-05-06 17:07:32,2023-05-06 17:07:32
7,7,9,active,test8@example.com,$2b$12$ieJV/xt5FsjKs/1hmskVGOWdyDhhWulqXtRAH.4...,찬빈,20,man,\N,한식,\N,2023-05-06 17:07:54,2023-05-06 17:07:54
8,8,10,active,test9@example.com,$2b$12$R/xFvpEPPYot5vm5rtrcjup4C2ZBuvkjgParzyj...,준영,20,man,\N,한식,\N,2023-05-06 17:08:48,2023-05-06 17:08:48
9,9,11,active,test10@example.com,$2b$12$PNVrK5dBOMmPGl/9/5POAOB3pSfMOWnq321xpZY...,뇽뇽,23,man,\N,한식,\N,2023-05-07 01:35:50,2023-05-07 01:35:50
10,10,12,active,test11@example.com,$2b$12$IjHprllCOlZ4/7yhEcWsN.R1QJOrOPLO6rIcP6R...,승현,23,man,장꼬방,카페,\N,2023-05-07 01:46:41,2023-05-07 01:46:41
11,11,13,active,test12@example.com,$2b$12$yXOS423DyPKN4yU/TxEAUueFTP1QdFGjdYcRcvt...,승현,0,man,장꼬방,카페,\N,2023-05-07 01:55:29,2023-05-07 01:55:29

In [2]:
import pandas as pd 

test4 = pd.read_csv('/Users/hwangjaesung/Downloads/store_0507_1614.csv', index_col=0)
test4

,store,point,view,review,star,address,category,join_key,menu
0,램랜드,4.3,49465,34,1324,서울시 마포구 용강동 494-32,한식,램랜드,['양고기']
1,청춘구락부,4.3,14857,11,199,서울시 마포구 용강동 50-4,한식,청춘구락부,['소등심']
2,장꼬방,4.1,143704,154,3694,서울시 서초구 서초동 1316,한식,장꼬방,['단팥죽']
3,프로간장게장,4.0,121224,101,2464,서울시 서초구 잠원동 27-1 프로빌딩,한식,프로간장게장,['간장게장']
4,진동둔횟집,4.0,19085,20,270,서울시 서초구 잠원동 36-18,일식,진동둔횟집,['대구탕']
...,...,...,...,...,...,...,...,...,...
1137,곳 온니 플레이스 성수점,4.3,20,3,56,서울특별시 성동구 성수동2가 280 B동 1층 R106호,까페,곳온니플레이스성수점,"['커피', ' 카페']"
1138,로우키,4.1,130,12,56,서울특별시 성동구 성수동2가 302-16,까페,로우키,"['커피', ' 카페라떼']"
1139,치카이라멘,4.6,260,5,56,서울특별시 성동구 옥수동 293,일식,치카이라멘,"['돈코츠라멘', ' 차슈덮밥']"
1140,한우일번지,5.0,30,2,56,서울특별시 성동구 마장동 437,식육(숯불구이),한우일번지,"['한우등심', ' 한우갈비살']"
1141,대성갈비,3.4,4810,25,56,서울시 성동구 성수동1가 668-21,식육(숯불구이),대성갈비,"['돼지갈비', ' 냉면']"

In [3]:
test4.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1142 entries, 0 to 1141
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   store     1142 non-null   object
 1   point     1142 non-null   float64
 2   view      1142 non-null   int64
 3   review    1142 non-null   int64
 4   star      1142 non-null   int64
 5   address   1142 non-null   object
 6   category  1142 non-null   object
 7   join_key  1142 non-null   object
 8   menu      1142 non-null   object
dtypes: float64(1), int64(3), object(5)
memory usage: 89.2+ KB

In [3]:
test4.columns= ['store','point','view','review','star','address','category','join_key','menu']

In [4]:
test4

,store,point,view,review,star,address,category,join_key,menu
0,램랜드,4.3,49465,34,1324,서울시 마포구 용강동 494-32,한식,램랜드,['양고기']
1,청춘구락부,4.3,14857,11,199,서울시 마포구 용강동 50-4,한식,청춘구락부,['소등심']
2,장꼬방,4.1,143704,154,3694,서울시 서초구 서초동 1316,한식,장꼬방,['단팥죽']
3,프로간장게장,4.0,121224,101,2464,서울시 서초구 잠원동 27-1 프로빌딩,한식,프로간장게장,['간장게장']
4,진동둔횟집,4.0,19085,20,270,서울시 서초구 잠원동 36-18,일식,진동둔횟집,['대구탕']
...,...,...,...,...,...,...,...,...,...
1137,곳 온니 플레이스 성수점,4.3,20,3,56,서울특별시 성동구 성수동2가 280 B동 1층 R106호,까페,곳온니플레이스성수점,"['커피', ' 카페']"
1138,로우키,4.1,130,12,56,서울특별시 성동구 성수동2가 302-16,까페,로우키,"['커피', ' 카페라떼']"
1139,치카이라멘,4.6,260,5,56,서울특별시 성동구 옥수동 293,일식,치카이라멘,"['돈코츠라멘', ' 차슈덮밥']"
1140,한우일번지,5.0,30,2,56,서울특별시 성동구 마장동 437,식육(숯불구이),한우일번지,"['한우등심', ' 한우갈비살']"
1141,대성갈비,3.4,4810,25,56,서울시 성동구 성수동1가 668-21,식육(숯불구이),대성갈비,"['돼지갈비', ' 냉면']"

In [5]:
test4.to_csv('/Users/hwangjaesung/Downloads/store_0507_1614.csv', index = True)

In [17]:
import pandas as pd 

test5 = pd.read_csv('/Users/hwangjaesung/Downloads/review_0510_1655.csv', index_col=0)
test5

,store,nickname,reviewtext,text
0,오코노미야키식당하나,내일도먹음,"이 가격으로 일본을 다녀올 수 있다구요⁉️\n오코노미야끼, 타코야끼 처돌이인 낼먹이...","이 가격으로 일본을 다녀올 수 있다고요⁉ 오코노미야키, 다코야키 첫돌이 인 낼 먹이..."
1,오코노미야키식당하나,규릐,화양동에 위치한 오코노미야키 맛집!\n지하철역은 그나마 어린이대공원역이 가까운 듯?...,화양동에 위치한 오코노미야키 맛집! 지하철역은 그나마 어린이대공원역이 가까운 듯?!...
2,오코노미야키식당하나,미동이,맛있는데.. 물린다..!\n식사보다 2차 술집에 있었으면 하는..,맛있는데.. 물린다..! 식사보다 2차 술집에 있었으면 하는..
3,오코노미야키식당하나,서머,이날 사진이 망해버려가지고.. ㅎ\n\n아무튼 오코노미야끼식당하나는 오코노미야끼 맛...,이날 사진이 망해버려가지고.. ㅎ 아무튼 오코노미야키 식당 하나는 오코노미야키 맛집...
4,오코노미야키식당하나,용인불주먹,"인생 첫 오코노미야키, 야끼소바!\n따로 보면 그리 특별한 재료들은 아닌데 철판에 ...","인생 첫 오코노미야키, 야끼소바! 따로 보면 그리 특별한 재료들은 아닌데 철판에 뚝..."
...,...,...,...,...
34220,호호식당,NaN,아기자기 인테리어가 예뻤지만 테이블간 거리가 정말 좁은편이여서 아쉬웠어요,아기자기 인테리어가 예뻤지만 테이블 간 거리가 정말 좁은 편이어서 아쉬웠어요
34221,호호식당,NaN,맛있어요 근데 특별한정도의 맛있음 아니고그냥 맛있어요분위기가좋아요,맛있어요 근데 특별한 정도의 맛있음 아니고 그냥 맛있어요 분위기가 좋아요
34222,호호식당,NaN,대학로에 본점인데 분점이 생겼나봐요웨이팅 시스템 있고 사케동이 유명합니다,대학로에 본점인데 분점이 생겼나 봐요 웨이팅 시스템 있고 사케 등이 유명합니다
34223,호호식당,NaN,내부가 너무 아기자기하고 직원분들 정말 친절해요 음식도 괜찮습니다,내부가 너무 아기자기하고 직원분들 정말 친절해요 음식도 괜찮습니다
34224,호호식당,NaN,음식 진짜 맛있어요 대기가 조금 있지만 금방 앉을수 있어요,음식 진짜 맛있어요 대기가 조금 있지만 금방 앉을 수 있어요

In [18]:
test5

,store,nickname,reviewtext,text
0,오코노미야키식당하나,내일도먹음,"이 가격으로 일본을 다녀올 수 있다구요⁉️\n오코노미야끼, 타코야끼 처돌이인 낼먹이...","이 가격으로 일본을 다녀올 수 있다고요⁉ 오코노미야키, 다코야키 첫돌이 인 낼 먹이..."
1,오코노미야키식당하나,규릐,화양동에 위치한 오코노미야키 맛집!\n지하철역은 그나마 어린이대공원역이 가까운 듯?...,화양동에 위치한 오코노미야키 맛집! 지하철역은 그나마 어린이대공원역이 가까운 듯?!...
2,오코노미야키식당하나,미동이,맛있는데.. 물린다..!\n식사보다 2차 술집에 있었으면 하는..,맛있는데.. 물린다..! 식사보다 2차 술집에 있었으면 하는..
3,오코노미야키식당하나,서머,이날 사진이 망해버려가지고.. ㅎ\n\n아무튼 오코노미야끼식당하나는 오코노미야끼 맛...,이날 사진이 망해버려가지고.. ㅎ 아무튼 오코노미야키 식당 하나는 오코노미야키 맛집...
4,오코노미야키식당하나,용인불주먹,"인생 첫 오코노미야키, 야끼소바!\n따로 보면 그리 특별한 재료들은 아닌데 철판에 ...","인생 첫 오코노미야키, 야끼소바! 따로 보면 그리 특별한 재료들은 아닌데 철판에 뚝..."
...,...,...,...,...
34220,호호식당,NaN,아기자기 인테리어가 예뻤지만 테이블간 거리가 정말 좁은편이여서 아쉬웠어요,아기자기 인테리어가 예뻤지만 테이블 간 거리가 정말 좁은 편이어서 아쉬웠어요
34221,호호식당,NaN,맛있어요 근데 특별한정도의 맛있음 아니고그냥 맛있어요분위기가좋아요,맛있어요 근데 특별한 정도의 맛있음 아니고 그냥 맛있어요 분위기가 좋아요
34222,호호식당,NaN,대학로에 본점인데 분점이 생겼나봐요웨이팅 시스템 있고 사케동이 유명합니다,대학로에 본점인데 분점이 생겼나 봐요 웨이팅 시스템 있고 사케 등이 유명합니다
34223,호호식당,NaN,내부가 너무 아기자기하고 직원분들 정말 친절해요 음식도 괜찮습니다,내부가 너무 아기자기하고 직원분들 정말 친절해요 음식도 괜찮습니다
34224,호호식당,NaN,음식 진짜 맛있어요 대기가 조금 있지만 금방 앉을수 있어요,음식 진짜 맛있어요 대기가 조금 있지만 금방 앉을 수 있어요

In [19]:
test5.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 34225 entries, 0 to 34224
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   store       34225 non-null  object
 1   nickname    25628 non-null  object
 2   reviewtext  34225 non-null  object
 3   text        34225 non-null  object
dtypes: object(4)
memory usage: 1.3+ MB

In [20]:
test5.columns = ['store', 'nickname', 'reviewtext', 'review']

In [21]:
test5.to_csv('/Users/hwangjaesung/Downloads/review_0510_1655.csv', index = True)

In [4]:
import pandas as pd 

test6 = pd.read_csv('/Users/hwangjaesung/Downloads/stores.csv', index_col=0, encoding="cp949")
test6

,Point,View,Review,Star,Address,category,join_key,menu,x,y
store,,,,,,,,,,
램랜드,4.3,49465,34,1324,서울시 마포구 용강동 494-32,한식,램랜드,['양고기'],126.938918,37.543445
청춘구락부,4.3,14857,11,199,서울시 마포구 용강동 50-4,한식,청춘구락부,['소등심'],126.942890,37.540121
장꼬방,4.1,143704,154,3694,서울시 서초구 서초동 1316,한식,장꼬방,['단팥죽'],127.023784,37.498330
프로간장게장,4.0,121224,101,2464,서울시 서초구 잠원동 27-1 프로빌딩,한식,프로간장게장,['간장게장'],127.019174,37.514581
진동둔횟집,4.0,19085,20,270,서울시 서초구 잠원동 36-18,일식,진동둔횟집,['대구탕'],127.019671,37.512340
...,...,...,...,...,...,...,...,...,...,...
곳 온니 플레이스 성수점,4.3,20,3,56,서울특별시 성동구 성수동2가 280 B동 1층 R106호,까페,곳온니플레이스성수점,"['커피', ' 카페']",127.066105,37.546521
로우키,4.1,130,12,56,서울특별시 성동구 성수동2가 302-16,까페,로우키,"['커피', ' 카페라떼']",127.051585,37.544206
치카이라멘,4.6,260,5,56,서울특별시 성동구 옥수동 293,일식,치카이라멘,"['돈코츠라멘', ' 차슈덮밥']",127.015378,37.542265
한우일번지,5.0,30,2,56,서울특별시 성동구 마장동 437,식육(숯불구이),한우일번지,"['한우등심', ' 한우갈비살']",127.041428,37.571126
대성갈비,3.4,4810,25,56,서울시 성동구 성수동1가 668-21,식육(숯불구이),대성갈비,"['돼지갈비', ' 냉면']",127.044083,37.547088

In [6]:
test6 = test6.reset_index()
test6

,store,Point,View,Review,Star,Address,category,join_key,menu,x,y
0,램랜드,4.3,49465,34,1324,서울시 마포구 용강동 494-32,한식,램랜드,['양고기'],126.938918,37.543445
1,청춘구락부,4.3,14857,11,199,서울시 마포구 용강동 50-4,한식,청춘구락부,['소등심'],126.942890,37.540121
2,장꼬방,4.1,143704,154,3694,서울시 서초구 서초동 1316,한식,장꼬방,['단팥죽'],127.023784,37.498330
3,프로간장게장,4.0,121224,101,2464,서울시 서초구 잠원동 27-1 프로빌딩,한식,프로간장게장,['간장게장'],127.019174,37.514581
4,진동둔횟집,4.0,19085,20,270,서울시 서초구 잠원동 36-18,일식,진동둔횟집,['대구탕'],127.019671,37.512340
...,...,...,...,...,...,...,...,...,...,...,...
1137,곳 온니 플레이스 성수점,4.3,20,3,56,서울특별시 성동구 성수동2가 280 B동 1층 R106호,까페,곳온니플레이스성수점,"['커피', ' 카페']",127.066105,37.546521
1138,로우키,4.1,130,12,56,서울특별시 성동구 성수동2가 302-16,까페,로우키,"['커피', ' 카페라떼']",127.051585,37.544206
1139,치카이라멘,4.6,260,5,56,서울특별시 성동구 옥수동 293,일식,치카이라멘,"['돈코츠라멘', ' 차슈덮밥']",127.015378,37.542265
1140,한우일번지,5.0,30,2,56,서울특별시 성동구 마장동 437,식육(숯불구이),한우일번지,"['한우등심', ' 한우갈비살']",127.041428,37.571126
1141,대성갈비,3.4,4810,25,56,서울시 성동구 성수동1가 668-21,식육(숯불구이),대성갈비,"['돼지갈비', ' 냉면']",127.044083,37.547088

In [7]:
test6.to_csv('/Users/hwangjaesung/Downloads/stores.csv', index = True)

In [8]:
import pandas as pd 

test7 = pd.read_csv('/Users/hwangjaesung/Downloads/weighted_graph.csv', index_col=0, encoding="cp949")
test7

          node2    weight
node1
한식           양식  0.378961
한식           중식  0.790311
한식           기타  0.811836
한식           까페  0.010000
한식           분식  0.745034
한식           술집  0.494953
한식           일식  0.710181
한식     식육(숯불구이)  0.843542
양식           중식  0.805314
양식           기타  0.866188
양식           까페  0.778880
양식           분식  0.593983
양식           술집  0.948420
양식           일식  0.808924
양식     식육(숯불구이)  0.619574
중식           기타  0.990000
중식           까페  0.429204
중식           분식  0.814872
중식           술집  0.916465
중식           일식  0.974767
중식     식육(숯불구이)  0.744368
기타           까페  0.400452
기타           분식  0.701097
기타           술집  0.979556
기타           일식  0.918739
기타     식육(숯불구이)  0.788903
까페           분식  0.364408
까페           술집  0.601789
까페           일식  0.384597
까페     식육(숯불구이)  0.038546
분식           술집  0.765486
분식           일식  0.915909
분식     식육(숯불구이)  0.717451
술집           일식  0.880650
술집     식육(숯불구이)  0.590473
일식     식육(숯불구이)  0.928973

In [9]:
test7 = test7.reset_index()
test7

   node1     node2    weight
0     한식        양식  0.378961
1     한식        중식  0.790311
2     한식        기타  0.811836
3     한식        까페  0.010000
4     한식        분식  0.745034
5     한식        술집  0.494953
6     한식        일식  0.710181
7     한식  식육(숯불구이)  0.843542
8     양식        중식  0.805314
9     양식        기타  0.866188
10    양식        까페  0.778880
11    양식        분식  0.593983
12    양식        술집  0.948420
13    양식        일식  0.808924
14    양식  식육(숯불구이)  0.619574
15    중식        기타  0.990000
16    중식        까페  0.429204
17    중식        분식  0.814872
18    중식        술집  0.916465
19    중식        일식  0.974767
20    중식  식육(숯불구이)  0.744368
21    기타        까페  0.400452
22    기타        분식  0.701097
23    기타        술집  0.979556
24    기타        일식  0.918739
25    기타  식육(숯불구이)  0.788903
26    까페        분식  0.364408
27    까페        술집  0.601789
28    까페        일식  0.384597
29    까페  식육(숯불구이)  0.038546
30    분식        술집  0.765486
31    분식        일식  0.915909
32    분식  식육(숯불구이)  0.717451
33    술집        일식  0.880650
34    술집  식육(숯불구이)  0.590473
35    일식  식육(숯불구이)  0.928973

In [10]:
test7.to_csv('/Users/hwangjaesung/Downloads/weighted_graph.csv', index = True)

In [1]:
import pandas as pd 

test8 = pd.read_csv('/Users/hwangjaesung/Downloads/store_0507_1614.csv', index_col=0, encoding="cp949")
test8

UnicodeDecodeError: 'cp949' codec can't decode byte 0xeb in position 75: illegal multibyte sequence

In [2]:
test8 = test8.reset_index()
test8

,store,point,view,review,star,address,category,join_key,menu,x,y,img_url
0,램랜드,4.3,49465,34,1324,서울시 마포구 용강동 494-32,한식,램랜드,['양고기'],126.938918,37.543445,https://mp-seoul-image-production-s3.mangoplat...
1,청춘구락부,4.3,14857,11,199,서울시 마포구 용강동 50-4,한식,청춘구락부,['소등심'],126.942890,37.540121,https://mp-seoul-image-production-s3.mangoplat...
2,장꼬방,4.1,143704,154,3694,서울시 서초구 서초동 1316,한식,장꼬방,['단팥죽'],127.023784,37.498330,https://mp-seoul-image-production-s3.mangoplat...
3,프로간장게장,4.0,121224,101,2464,서울시 서초구 잠원동 27-1 프로빌딩,한식,프로간장게장,['간장게장'],127.019174,37.514581,https://mp-seoul-image-production-s3.mangoplat...
4,진동둔횟집,4.0,19085,20,270,서울시 서초구 잠원동 36-18,일식,진동둔횟집,['대구탕'],127.019671,37.512340,https://mp-seoul-image-production-s3.mangoplat...
...,...,...,...,...,...,...,...,...,...,...,...,...
1137,곳 온니 플레이스 성수점,4.3,20,3,56,서울특별시 성동구 성수동2가 280 B동 1층 R106호,까페,곳온니플레이스성수점,"['커피', ' 카페']",127.066105,37.546521,https://mp-seoul-image-production-s3.mangoplat...
1138,로우키,4.1,130,12,56,서울특별시 성동구 성수동2가 302-16,까페,로우키,"['커피', ' 카페라떼']",127.051585,37.544206,https://mp-seoul-image-production-s3.mangoplat...
1139,치카이라멘,4.6,260,5,56,서울특별시 성동구 옥수동 293,일식,치카이라멘,"['돈코츠라멘', ' 차슈덮밥']",127.015378,37.542265,https://mp-seoul-image-production-s3.mangoplat...
1140,한우일번지,5.0,30,2,56,서울특별시 성동구 마장동 437,식육(숯불구이),한우일번지,"['한우등심', ' 한우갈비살']",127.041428,37.571126,https://mp-seoul-image-production-s3.mangoplat...
1141,대성갈비,3.4,4810,25,56,서울시 성동구 성수동1가 668-21,식육(숯불구이),대성갈비,"['돼지갈비', ' 냉면']",127.044083,37.547088,https://mp-seoul-image-production-s3.mangoplat...

In [3]:
test8.to_csv('/Users/hwangjaesung/Downloads/store_0507_1614.csv', index = True)

In [2]:
import pandas as pd 

test9 = pd.read_csv('/Users/hwangjaesung/Downloads/store_0507_1614.csv', index_col=0)
test9

,store,point,view,review,star,address,category,join_key,menu,x,y,img_url
0,램랜드,4.3,49465,34,1324,서울시 마포구 용강동 494-32,한식,램랜드,['양고기'],126.938918,37.543445,https://mp-seoul-image-production-s3.mangoplat...
1,청춘구락부,4.3,14857,11,199,서울시 마포구 용강동 50-4,한식,청춘구락부,['소등심'],126.942890,37.540121,https://mp-seoul-image-production-s3.mangoplat...
2,장꼬방,4.1,143704,154,3694,서울시 서초구 서초동 1316,한식,장꼬방,['단팥죽'],127.023784,37.498330,https://mp-seoul-image-production-s3.mangoplat...
3,프로간장게장,4.0,121224,101,2464,서울시 서초구 잠원동 27-1 프로빌딩,한식,프로간장게장,['간장게장'],127.019174,37.514581,https://mp-seoul-image-production-s3.mangoplat...
4,진동둔횟집,4.0,19085,20,270,서울시 서초구 잠원동 36-18,일식,진동둔횟집,['대구탕'],127.019671,37.512340,https://mp-seoul-image-production-s3.mangoplat...
...,...,...,...,...,...,...,...,...,...,...,...,...
1137,곳 온니 플레이스 성수점,4.3,20,3,56,서울특별시 성동구 성수동2가 280 B동 1층 R106호,까페,곳온니플레이스성수점,"['커피', ' 카페']",127.066105,37.546521,https://mp-seoul-image-production-s3.mangoplat...
1138,로우키,4.1,130,12,56,서울특별시 성동구 성수동2가 302-16,까페,로우키,"['커피', ' 카페라떼']",127.051585,37.544206,https://mp-seoul-image-production-s3.mangoplat...
1139,치카이라멘,4.6,260,5,56,서울특별시 성동구 옥수동 293,일식,치카이라멘,"['돈코츠라멘', ' 차슈덮밥']",127.015378,37.542265,https://mp-seoul-image-production-s3.mangoplat...
1140,한우일번지,5.0,30,2,56,서울특별시 성동구 마장동 437,식육(숯불구이),한우일번지,"['한우등심', ' 한우갈비살']",127.041428,37.571126,https://mp-seoul-image-production-s3.mangoplat...
1141,대성갈비,3.4,4810,25,56,서울시 성동구 성수동1가 668-21,식육(숯불구이),대성갈비,"['돼지갈비', ' 냉면']",127.044083,37.547088,https://mp-seoul-image-production-s3.mangoplat...

In [3]:
test9.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1142 entries, 0 to 1141
Data columns (total 12 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   store     1142 non-null   object
 1   point     1142 non-null   float64
 2   view      1142 non-null   int64
 3   review    1142 non-null   int64
 4   star      1142 non-null   int64
 5   address   1142 non-null   object
 6   category  1142 non-null   object
 7   join_key  1142 non-null   object
 8   menu      1142 non-null   object
 9   x         1142 non-null   float64
 10  y         1142 non-null   float64
 11  img_url   1142 non-null   object
dtypes: float64(3), int64(3), object(6)
memory usage: 116.0+ KB

In [5]:
import pandas as pd 

test10 = pd.read_csv('/Users/hwangjaesung/Downloads/user_0519.csv', index_col=0)
test10

,active,user1@example.com,$2b$12$p8hQACEXSWRRqaxmg2MO7uqmQEtYW4N/36tSa1QhgN6zeC94EN5sS,승현,22,woman,\N,한식,\N.1,2023-05-07 07:51:55,2023-05-07 07:51:55.1
1,,,,,,,,,,,
2,active,user2@example.com,$2b$12$4t0EANiOKb2KzgpeaPyxdOGu3AxTIUtPQMtMoLo...,재성,21,man,\N,카페,\N,2023-05-07 10:34:11,2023-05-07 10:34:11
3,active,user3@example.com,$2b$12$Qe7fM.PlHfqwmbAo8Tou5udXn0DDEMuDOU0X0.i...,한빈,21,man,\N,식육(숯불구이),\N,2023-05-07 11:18:08,2023-05-07 11:18:08
4,active,user4@example.com,$2b$12$8Zy5/ZDWlB8WXrF4qtT.NuQjdO9S0EOpWEKZHFg...,재성,24,woman,\N,일식,\N,2023-05-07 11:35:44,2023-05-07 11:35:44
5,active,user5@example.com,$2b$12$bif98KICKXB5MHgFsZ5lmucSpyfEfz871CWCfx9...,재성,28,woman,\N,한식,\N,2023-05-10 04:47:03,2023-05-10 04:47:03
6,active,user6@example.com,$2b$12$u0LFV38jFy8B0h01UO/jUehRN9NAvxcIlF8KSZt...,기린,23,man,\N,일식,\N,2023-05-10 05:06:45,2023-05-10 05:06:45
7,active,user7@example.com,$2b$12$8O0Ll6AsvK14N2jDIypVNejvAxghqMuIRjMZaCD...,공룡,89,man,\N,카페,\N,2023-05-10 05:12:27,2023-05-10 05:12:27
8,active,user8@example.com,$2b$12$9wr1ZThnVyxmxkH0mHgzYuISaGLcpCDfA1fEk8N...,재성,23,woman,\N,중식,\N,2023-05-10 11:24:02,2023-05-10 11:24:02
9,active,user9@example.com,$2b$12$mnEFogSsHxzcXw5ViLwyEOxrwCT3NIXyYRE2JSD...,재성,23,woman,\N,한식,\N,2023-05-16 05:23:43,2023-05-16 05:23:43
10,active,user11@example.com,$2b$12$isN1WZBD.rUo6yeq.TrRc.SHoFoj6HIMOznpLzJ...,재성,23,woman,\N,한식,\N,2023-05-16 10:01:00,2023-05-16 10:01:00
11,active,user11@example.com,$2b$12$isN1WZBD.rUo6yeq.TrRc.SHoFoj6HIMOznpLzJ...,재성,23,woman,\N,중식,\N,2023-05-16 10:01:00,2023-05-16 10:01:00
12,active,user11@example.com,$2b$12$isN1WZBD.rUo6yeq.TrRc.SHoFoj6HIMOznpLzJ...,재성,23,woman,\N,일식,\N,2023-05-16 10:01:00,2023-05-16 10:01:00
13,active,user12@example.com,$2b$12$gADj/G8ZrqriyyITr./EG.Or2Ma1y6AWUOvX.Kh...,재성,23,woman,\N,\N,\N,2023-05-16 10:20:12,2023-05-16 10:20:12
14,active,\N,\N,재성,23,woman,\N,한식,\N,2023-05-16 10:20:12,2023-05-16 10:20:12
15,active,\N,\N,재성,23,woman,\N,중식,\N,2023-05-16 10:20:12,2023-05-16 10:20:12
16,active,\N,\N,재성,23,woman,\N,일식,\N,2023-05-16 10:20:12,2023-05-16 10:20:12
17,active,user13@example.com,$2b$12$pizsFCTcTVF9iuka6yeS5.F0QIDte9u9HKf3Mwy...,재성,23,woman,\N,\N,\N,2023-05-17 05:51:37,2023-05-17 05:51:37
18,active,user15@example.com,$2b$12$o24103L0jmHB223Lm1oEM.XXvBRXDUIoXDU/yOh...,승현,21,woman,\N,\N,\N,2023-05-19 03:50:35,2023-05-19 03:50:35
19,active,user16@example.com,$2b$12$ikzJKh3OWkoautOIEs0yIOhvWx9yzfwMctJ7JdI...,재성,21,woman,\N,\N,\N,2023-05-19 03:53:44,2023-05-19 03:53:44
20,active,user17@example.com,$2b$12$9qxcY/c3IQm7xz8ff6CEU.gPoO/BlwFonqJrhLj...,승현,23,woman,\N,\N,\N,2023-05-19 04:01:18,2023-05-19 04:01:18
21,active,user18@example.com,$2b$12$in02Q/HF0wyIMASbOrI5HOIz6CQ/uyXjO9LSS.H...,하이5,23,woman,\N,\N,\N,2023-05-19 04:23:29,2023-05-19 04:23:29
22,active,user19@example.com,$2b$12$Swzn/c5lxIWkWIwPHfmXdeaDAD9QSMI091H56RP...,최쭌,23,man,\N,\N,\N,2023-05-19 04:24:02,2023-05-19 04:24:02

In [6]:
test10.columns = ['status', 'email', 'pw', 'nickname', 'age', 'gender', 'store', 'category', 'sns_type', 'updated_at', 'created_at']
test10

,status,email,pw,nickname,age,gender,store,category,sns_type,updated_at,created_at
1,,,,,,,,,,,
2,active,user2@example.com,$2b$12$4t0EANiOKb2KzgpeaPyxdOGu3AxTIUtPQMtMoLo...,재성,21,man,\N,카페,\N,2023-05-07 10:34:11,2023-05-07 10:34:11
3,active,user3@example.com,$2b$12$Qe7fM.PlHfqwmbAo8Tou5udXn0DDEMuDOU0X0.i...,한빈,21,man,\N,식육(숯불구이),\N,2023-05-07 11:18:08,2023-05-07 11:18:08
4,active,user4@example.com,$2b$12$8Zy5/ZDWlB8WXrF4qtT.NuQjdO9S0EOpWEKZHFg...,재성,24,woman,\N,일식,\N,2023-05-07 11:35:44,2023-05-07 11:35:44
5,active,user5@example.com,$2b$12$bif98KICKXB5MHgFsZ5lmucSpyfEfz871CWCfx9...,재성,28,woman,\N,한식,\N,2023-05-10 04:47:03,2023-05-10 04:47:03
6,active,user6@example.com,$2b$12$u0LFV38jFy8B0h01UO/jUehRN9NAvxcIlF8KSZt...,기린,23,man,\N,일식,\N,2023-05-10 05:06:45,2023-05-10 05:06:45
7,active,user7@example.com,$2b$12$8O0Ll6AsvK14N2jDIypVNejvAxghqMuIRjMZaCD...,공룡,89,man,\N,카페,\N,2023-05-10 05:12:27,2023-05-10 05:12:27
8,active,user8@example.com,$2b$12$9wr1ZThnVyxmxkH0mHgzYuISaGLcpCDfA1fEk8N...,재성,23,woman,\N,중식,\N,2023-05-10 11:24:02,2023-05-10 11:24:02
9,active,user9@example.com,$2b$12$mnEFogSsHxzcXw5ViLwyEOxrwCT3NIXyYRE2JSD...,재성,23,woman,\N,한식,\N,2023-05-16 05:23:43,2023-05-16 05:23:43
10,active,user11@example.com,$2b$12$isN1WZBD.rUo6yeq.TrRc.SHoFoj6HIMOznpLzJ...,재성,23,woman,\N,한식,\N,2023-05-16 10:01:00,2023-05-16 10:01:00
11,active,user11@example.com,$2b$12$isN1WZBD.rUo6yeq.TrRc.SHoFoj6HIMOznpLzJ...,재성,23,woman,\N,중식,\N,2023-05-16 10:01:00,2023-05-16 10:01:00
12,active,user11@example.com,$2b$12$isN1WZBD.rUo6yeq.TrRc.SHoFoj6HIMOznpLzJ...,재성,23,woman,\N,일식,\N,2023-05-16 10:01:00,2023-05-16 10:01:00
13,active,user12@example.com,$2b$12$gADj/G8ZrqriyyITr./EG.Or2Ma1y6AWUOvX.Kh...,재성,23,woman,\N,\N,\N,2023-05-16 10:20:12,2023-05-16 10:20:12
14,active,\N,\N,재성,23,woman,\N,한식,\N,2023-05-16 10:20:12,2023-05-16 10:20:12
15,active,\N,\N,재성,23,woman,\N,중식,\N,2023-05-16 10:20:12,2023-05-16 10:20:12
16,active,\N,\N,재성,23,woman,\N,일식,\N,2023-05-16 10:20:12,2023-05-16 10:20:12
17,active,user13@example.com,$2b$12$pizsFCTcTVF9iuka6yeS5.F0QIDte9u9HKf3Mwy...,재성,23,woman,\N,\N,\N,2023-05-17 05:51:37,2023-05-17 05:51:37
18,active,user15@example.com,$2b$12$o24103L0jmHB223Lm1oEM.XXvBRXDUIoXDU/yOh...,승현,21,woman,\N,\N,\N,2023-05-19 03:50:35,2023-05-19 03:50:35
19,active,user16@example.com,$2b$12$ikzJKh3OWkoautOIEs0yIOhvWx9yzfwMctJ7JdI...,재성,21,woman,\N,\N,\N,2023-05-19 03:53:44,2023-05-19 03:53:44
20,active,user17@example.com,$2b$12$9qxcY/c3IQm7xz8ff6CEU.gPoO/BlwFonqJrhLj...,승현,23,woman,\N,\N,\N,2023-05-19 04:01:18,2023-05-19 04:01:18
21,active,user18@example.com,$2b$12$in02Q/HF0wyIMASbOrI5HOIz6CQ/uyXjO9LSS.H...,하이5,23,woman,\N,\N,\N,2023-05-19 04:23:29,2023-05-19 04:23:29
22,active,user19@example.com,$2b$12$Swzn/c5lxIWkWIwPHfmXdeaDAD9QSMI091H56RP...,최쭌,23,man,\N,\N,\N,2023-05-19 04:24:02,2023-05-19 04:24:02

In [7]:
test10 = test10.reset_index(drop=True)
test10

,status,email,pw,nickname,age,gender,store,category,sns_type,updated_at,created_at
0,active,user2@example.com,$2b$12$4t0EANiOKb2KzgpeaPyxdOGu3AxTIUtPQMtMoLo...,재성,21,man,\N,카페,\N,2023-05-07 10:34:11,2023-05-07 10:34:11
1,active,user3@example.com,$2b$12$Qe7fM.PlHfqwmbAo8Tou5udXn0DDEMuDOU0X0.i...,한빈,21,man,\N,식육(숯불구이),\N,2023-05-07 11:18:08,2023-05-07 11:18:08
2,active,user4@example.com,$2b$12$8Zy5/ZDWlB8WXrF4qtT.NuQjdO9S0EOpWEKZHFg...,재성,24,woman,\N,일식,\N,2023-05-07 11:35:44,2023-05-07 11:35:44
3,active,user5@example.com,$2b$12$bif98KICKXB5MHgFsZ5lmucSpyfEfz871CWCfx9...,재성,28,woman,\N,한식,\N,2023-05-10 04:47:03,2023-05-10 04:47:03
4,active,user6@example.com,$2b$12$u0LFV38jFy8B0h01UO/jUehRN9NAvxcIlF8KSZt...,기린,23,man,\N,일식,\N,2023-05-10 05:06:45,2023-05-10 05:06:45
5,active,user7@example.com,$2b$12$8O0Ll6AsvK14N2jDIypVNejvAxghqMuIRjMZaCD...,공룡,89,man,\N,카페,\N,2023-05-10 05:12:27,2023-05-10 05:12:27
6,active,user8@example.com,$2b$12$9wr1ZThnVyxmxkH0mHgzYuISaGLcpCDfA1fEk8N...,재성,23,woman,\N,중식,\N,2023-05-10 11:24:02,2023-05-10 11:24:02
7,active,user9@example.com,$2b$12$mnEFogSsHxzcXw5ViLwyEOxrwCT3NIXyYRE2JSD...,재성,23,woman,\N,한식,\N,2023-05-16 05:23:43,2023-05-16 05:23:43
8,active,user11@example.com,$2b$12$isN1WZBD.rUo6yeq.TrRc.SHoFoj6HIMOznpLzJ...,재성,23,woman,\N,한식,\N,2023-05-16 10:01:00,2023-05-16 10:01:00
9,active,user11@example.com,$2b$12$isN1WZBD.rUo6yeq.TrRc.SHoFoj6HIMOznpLzJ...,재성,23,woman,\N,중식,\N,2023-05-16 10:01:00,2023-05-16 10:01:00
10,active,user11@example.com,$2b$12$isN1WZBD.rUo6yeq.TrRc.SHoFoj6HIMOznpLzJ...,재성,23,woman,\N,일식,\N,2023-05-16 10:01:00,2023-05-16 10:01:00
11,active,user12@example.com,$2b$12$gADj/G8ZrqriyyITr./EG.Or2Ma1y6AWUOvX.Kh...,재성,23,woman,\N,\N,\N,2023-05-16 10:20:12,2023-05-16 10:20:12
12,active,\N,\N,재성,23,woman,\N,한식,\N,2023-05-16 10:20:12,2023-05-16 10:20:12
13,active,\N,\N,재성,23,woman,\N,중식,\N,2023-05-16 10:20:12,2023-05-16 10:20:12
14,active,\N,\N,재성,23,woman,\N,일식,\N,2023-05-16 10:20:12,2023-05-16 10:20:12
15,active,user13@example.com,$2b$12$pizsFCTcTVF9iuka6yeS5.F0QIDte9u9HKf3Mwy...,재성,23,woman,\N,\N,\N,2023-05-17 05:51:37,2023-05-17 05:51:37
16,active,user15@example.com,$2b$12$o24103L0jmHB223Lm1oEM.XXvBRXDUIoXDU/yOh...,승현,21,woman,\N,\N,\N,2023-05-19 03:50:35,2023-05-19 03:50:35
17,active,user16@example.com,$2b$12$ikzJKh3OWkoautOIEs0yIOhvWx9yzfwMctJ7JdI...,재성,21,woman,\N,\N,\N,2023-05-19 03:53:44,2023-05-19 03:53:44
18,active,user17@example.com,$2b$12$9qxcY/c3IQm7xz8ff6CEU.gPoO/BlwFonqJrhLj...,승현,23,woman,\N,\N,\N,2023-05-19 04:01:18,2023-05-19 04:01:18
19,active,user18@example.com,$2b$12$in02Q/HF0wyIMASbOrI5HOIz6CQ/uyXjO9LSS.H...,하이5,23,woman,\N,\N,\N,2023-05-19 04:23:29,2023-05-19 04:23:29
20,active,user19@example.com,$2b$12$Swzn/c5lxIWkWIwPHfmXdeaDAD9QSMI091H56RP...,최쭌,23,man,\N,\N,\N,2023-05-19 04:24:02,2023-05-19 04:24:02

In [8]:
test10.to_csv('/Users/hwangjaesung/Downloads/user_0519.csv', index = True)

In [1]:
import pandas as pd 

test11 = pd.read_csv('/Users/hwangjaesung/Downloads/store_0507_1614.csv', index_col=0)
test11

,store,point,view,review,star,address,category,join_key,menu,x,y,img_url
0,램랜드,4.3,49465,34,1324,서울시 마포구 용강동 494-32,한식,램랜드,['양고기'],126.938918,37.543445,https://mp-seoul-image-production-s3.mangoplat...
1,청춘구락부,4.3,14857,11,199,서울시 마포구 용강동 50-4,한식,청춘구락부,['소등심'],126.942890,37.540121,https://mp-seoul-image-production-s3.mangoplat...
2,장꼬방,4.1,143704,154,3694,서울시 서초구 서초동 1316,한식,장꼬방,['단팥죽'],127.023784,37.498330,https://mp-seoul-image-production-s3.mangoplat...
3,프로간장게장,4.0,121224,101,2464,서울시 서초구 잠원동 27-1 프로빌딩,한식,프로간장게장,['간장게장'],127.019174,37.514581,https://mp-seoul-image-production-s3.mangoplat...
4,진동둔횟집,4.0,19085,20,270,서울시 서초구 잠원동 36-18,일식,진동둔횟집,['대구탕'],127.019671,37.512340,https://mp-seoul-image-production-s3.mangoplat...
...,...,...,...,...,...,...,...,...,...,...,...,...
1137,곳 온니 플레이스 성수점,4.3,20,3,56,서울특별시 성동구 성수동2가 280 B동 1층 R106호,까페,곳온니플레이스성수점,"['커피', ' 카페']",127.066105,37.546521,https://mp-seoul-image-production-s3.mangoplat...
1138,로우키,4.1,130,12,56,서울특별시 성동구 성수동2가 302-16,까페,로우키,"['커피', ' 카페라떼']",127.051585,37.544206,https://mp-seoul-image-production-s3.mangoplat...
1139,치카이라멘,4.6,260,5,56,서울특별시 성동구 옥수동 293,일식,치카이라멘,"['돈코츠라멘', ' 차슈덮밥']",127.015378,37.542265,https://mp-seoul-image-production-s3.mangoplat...
1140,한우일번지,5.0,30,2,56,서울특별시 성동구 마장동 437,식육(숯불구이),한우일번지,"['한우등심', ' 한우갈비살']",127.041428,37.571126,https://mp-seoul-image-production-s3.mangoplat...
1141,대성갈비,3.4,4810,25,56,서울시 성동구 성수동1가 668-21,식육(숯불구이),대성갈비,"['돼지갈비', ' 냉면']",127.044083,37.547088,https://mp-seoul-image-production-s3.mangoplat...

In [2]:
test11.category.unique()

array(['한식', '일식', '술집', '양식', '기타', '분식', '까페', '식육(숯불구이)', '중식'],
      dtype=object)

In [3]:
test11 = test11.replace('까페', '카페')
test11 = test11.replace('식육(숯불구이)', '숯불구이')

In [4]:
test11

,store,point,view,review,star,address,category,join_key,menu,x,y,img_url
0,램랜드,4.3,49465,34,1324,서울시 마포구 용강동 494-32,한식,램랜드,['양고기'],126.938918,37.543445,https://mp-seoul-image-production-s3.mangoplat...
1,청춘구락부,4.3,14857,11,199,서울시 마포구 용강동 50-4,한식,청춘구락부,['소등심'],126.942890,37.540121,https://mp-seoul-image-production-s3.mangoplat...
2,장꼬방,4.1,143704,154,3694,서울시 서초구 서초동 1316,한식,장꼬방,['단팥죽'],127.023784,37.498330,https://mp-seoul-image-production-s3.mangoplat...
3,프로간장게장,4.0,121224,101,2464,서울시 서초구 잠원동 27-1 프로빌딩,한식,프로간장게장,['간장게장'],127.019174,37.514581,https://mp-seoul-image-production-s3.mangoplat...
4,진동둔횟집,4.0,19085,20,270,서울시 서초구 잠원동 36-18,일식,진동둔횟집,['대구탕'],127.019671,37.512340,https://mp-seoul-image-production-s3.mangoplat...
...,...,...,...,...,...,...,...,...,...,...,...,...
1137,곳 온니 플레이스 성수점,4.3,20,3,56,서울특별시 성동구 성수동2가 280 B동 1층 R106호,카페,곳온니플레이스성수점,"['커피', ' 카페']",127.066105,37.546521,https://mp-seoul-image-production-s3.mangoplat...
1138,로우키,4.1,130,12,56,서울특별시 성동구 성수동2가 302-16,카페,로우키,"['커피', ' 카페라떼']",127.051585,37.544206,https://mp-seoul-image-production-s3.mangoplat...
1139,치카이라멘,4.6,260,5,56,서울특별시 성동구 옥수동 293,일식,치카이라멘,"['돈코츠라멘', ' 차슈덮밥']",127.015378,37.542265,https://mp-seoul-image-production-s3.mangoplat...
1140,한우일번지,5.0,30,2,56,서울특별시 성동구 마장동 437,숯불구이,한우일번지,"['한우등심', ' 한우갈비살']",127.041428,37.571126,https://mp-seoul-image-production-s3.mangoplat...
1141,대성갈비,3.4,4810,25,56,서울시 성동구 성수동1가 668-21,숯불구이,대성갈비,"['돼지갈비', ' 냉면']",127.044083,37.547088,https://mp-seoul-image-production-s3.mangoplat...

In [5]:
test11.category.unique()

array(['한식', '일식', '술집', '양식', '기타', '분식', '카페', '숯불구이', '중식'],
      dtype=object)

In [6]:
test11.to_csv('/Users/hwangjaesung/Downloads/store_0507_1614.csv', index = True)

In [1]:
import pandas as pd 

test12 = pd.read_csv('/Users/hwangjaesung/Downloads/weighted_graph.csv', index_col=0)
test12

   node1     node2    weight
0     한식        양식  0.378961
1     한식        중식  0.790311
2     한식        기타  0.811836
3     한식        까페  0.010000
4     한식        분식  0.745034
5     한식        술집  0.494953
6     한식        일식  0.710181
7     한식  식육(숯불구이)  0.843542
8     양식        중식  0.805314
9     양식        기타  0.866188
10    양식        까페  0.778880
11    양식        분식  0.593983
12    양식        술집  0.948420
13    양식        일식  0.808924
14    양식  식육(숯불구이)  0.619574
15    중식        기타  0.990000
16    중식        까페  0.429204
17    중식        분식  0.814872
18    중식        술집  0.916465
19    중식        일식  0.974767
20    중식  식육(숯불구이)  0.744368
21    기타        까페  0.400452
22    기타        분식  0.701097
23    기타        술집  0.979556
24    기타        일식  0.918739
25    기타  식육(숯불구이)  0.788903
26    까페        분식  0.364408
27    까페        술집  0.601789
28    까페        일식  0.384597
29    까페  식육(숯불구이)  0.038546
30    분식        술집  0.765486
31    분식        일식  0.915909
32    분식  식육(숯불구이)  0.717451
33    술집        일식  0.880650
34    술집  식육(숯불구이)  0.590473
35    일식  식육(숯불구이)  0.928973

In [2]:
test12 = test12.replace('까페', '카페')
test12 = test12.replace('식육(숯불구이)', '숯불구이')

In [5]:
test12['node2'].unique()

array(['양식', '중식', '기타', '카페', '분식', '술집', '일식', '숯불구이'], dtype=object)

In [7]:
test12.to_csv('/Users/hwangjaesung/Downloads/weighted_graph.csv', index = True)

In [1]:
import pandas as pd 

test13 = pd.read_csv('/Users/hwangjaesung/Downloads/mango_user_04261723.csv', index_col=0)
test13

        nickname       store eval_user
0             준영     우동 이요이요       맛있다
1             준영         장꼬방       맛있다
2             준영          헤키       맛있다
3             준영  길버트버거앤프라이즈       맛있다
4             준영         다로베       맛있다
...          ...         ...       ...
31889        gom    옥수동 화덕피자       맛있다
31890  guilietta        콴안다오       맛있다
31891    ha park       캔프 치킨       맛있다
31892     hailie        메종엠오       맛있다
31893        ￦on        따띠따띠       NaN

[31894 rows x 3 columns]

In [2]:
test13.drop('eval_user', axis=1, inplace=True)

In [3]:
test13

        nickname       store
0             준영     우동 이요이요
1             준영         장꼬방
2             준영          헤키
3             준영  길버트버거앤프라이즈
4             준영         다로베
...          ...         ...
31889        gom    옥수동 화덕피자
31890  guilietta        콴안다오
31891    ha park       캔프 치킨
31892     hailie        메종엠오
31893        ￦on        따띠따띠

[31894 rows x 2 columns]

In [4]:
test13.to_csv('/Users/hwangjaesung/Downloads/mango_user_04261723.csv', index = True)

In [1]:
import pandas as pd 

test14 = pd.read_csv('/Users/hwangjaesung/Downloads/stores_0521.csv', index_col=0)
test14

,store,point,view,review,star,address,category,join_key,menu,x,y,20_woman,20_man
0,램랜드,4.3,49465,34,1324,서울시 마포구 용강동 494-32,한식,램랜드,['양고기'],126.938918,37.543445,0,0
1,청춘구락부,4.3,14857,11,199,서울시 마포구 용강동 50-4,한식,청춘구락부,['소등심'],126.942890,37.540121,0,0
2,장꼬방,4.1,143704,154,3694,서울시 서초구 서초동 1316,한식,장꼬방,['단팥죽'],127.023784,37.498330,1,0
3,프로간장게장,4.0,121224,101,2464,서울시 서초구 잠원동 27-1 프로빌딩,한식,프로간장게장,['간장게장'],127.019174,37.514581,0,0
4,진동둔횟집,4.0,19085,20,270,서울시 서초구 잠원동 36-18,일식,진동둔횟집,['대구탕'],127.019671,37.512340,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1137,곳 온니 플레이스 성수점,4.3,20,3,56,서울특별시 성동구 성수동2가 280 B동 1층 R106호,까페,곳온니플레이스성수점,"['커피', ' 카페']",127.066105,37.546521,0,0
1138,로우키,4.1,130,12,56,서울특별시 성동구 성수동2가 302-16,까페,로우키,"['커피', ' 카페라떼']",127.051585,37.544206,1,0
1139,치카이라멘,4.6,260,5,56,서울특별시 성동구 옥수동 293,일식,치카이라멘,"['돈코츠라멘', ' 차슈덮밥']",127.015378,37.542265,0,1
1140,한우일번지,5.0,30,2,56,서울특별시 성동구 마장동 437,식육(숯불구이),한우일번지,"['한우등심', ' 한우갈비살']",127.041428,37.571126,0,0
1141,대성갈비,3.4,4810,25,56,서울시 성동구 성수동1가 668-21,식육(숯불구이),대성갈비,"['돼지갈비', ' 냉면']",127.044083,37.547088,0,0

In [34]:
test14.columns = ['store', 'point', 'view', 'review', 'star', 'address', 'category', 'join_key', 'menu', 'x', 'y', '20_woman', '20_man']

In [35]:
test14.head()

,store,point,view,review,star,address,category,join_key,menu,x,y,20_woman,20_man
0,램랜드,4.3,49465,34,1324,서울시 마포구 용강동 494-32,한식,램랜드,['양고기'],126.938918,37.543445,False,False
1,청춘구락부,4.3,14857,11,199,서울시 마포구 용강동 50-4,한식,청춘구락부,['소등심'],126.942890,37.540121,False,False
2,장꼬방,4.1,143704,154,3694,서울시 서초구 서초동 1316,한식,장꼬방,['단팥죽'],127.023784,37.498330,True,False
3,프로간장게장,4.0,121224,101,2464,서울시 서초구 잠원동 27-1 프로빌딩,한식,프로간장게장,['간장게장'],127.019174,37.514581,False,False
4,진동둔횟집,4.0,19085,20,270,서울시 서초구 잠원동 36-18,일식,진동둔횟집,['대구탕'],127.019671,37.512340,False,False

In [41]:
test14 = test14.replace(True, 1)
test14 = test14.replace(False, 0)

In [2]:
test14 = test14.replace("까페", "카페")

In [3]:
test14 = test14.replace("식육(숯불구이)", "숯불구이")

In [43]:
test14.head()

,store,point,view,review,star,address,category,join_key,menu,x,y,20_woman,20_man
0,램랜드,4.3,49465,34,1324,서울시 마포구 용강동 494-32,한식,램랜드,['양고기'],126.938918,37.543445,0,0
1,청춘구락부,4.3,14857,11,199,서울시 마포구 용강동 50-4,한식,청춘구락부,['소등심'],126.942890,37.540121,0,0
2,장꼬방,4.1,143704,154,3694,서울시 서초구 서초동 1316,한식,장꼬방,['단팥죽'],127.023784,37.498330,1,0
3,프로간장게장,4.0,121224,101,2464,서울시 서초구 잠원동 27-1 프로빌딩,한식,프로간장게장,['간장게장'],127.019174,37.514581,0,0
4,진동둔횟집,4.0,19085,20,270,서울시 서초구 잠원동 36-18,일식,진동둔횟집,['대구탕'],127.019671,37.512340,0,0

In [4]:
test14.to_csv('/Users/hwangjaesung/Downloads/stores_0521.csv', index = True)

In [21]:
import pandas as pd

data = pd.read_csv('/Users/hwangjaesung/Documents/capstone/Back/store_0507_1614.csv', index_col=0)
data

,store,point,view,review,star,address,category,join_key,menu,x,y,img_url
id,,,,,,,,,,,,
0,램랜드,4.3,49465,34,1324,서울시 마포구 용강동 494-32,한식,램랜드,['양고기'],126.938918,37.543445,https://mp-seoul-image-production-s3.mangoplat...
1,청춘구락부,4.3,14857,11,199,서울시 마포구 용강동 50-4,한식,청춘구락부,['소등심'],126.942890,37.540121,https://mp-seoul-image-production-s3.mangoplat...
2,장꼬방,4.1,143704,154,3694,서울시 서초구 서초동 1316,한식,장꼬방,['단팥죽'],127.023784,37.498330,https://mp-seoul-image-production-s3.mangoplat...
3,프로간장게장,4.0,121224,101,2464,서울시 서초구 잠원동 27-1 프로빌딩,한식,프로간장게장,['간장게장'],127.019174,37.514581,https://mp-seoul-image-production-s3.mangoplat...
4,진동둔횟집,4.0,19085,20,270,서울시 서초구 잠원동 36-18,일식,진동둔횟집,['대구탕'],127.019671,37.512340,https://mp-seoul-image-production-s3.mangoplat...
...,...,...,...,...,...,...,...,...,...,...,...,...
1137,곳 온니 플레이스 성수점,4.3,20,3,56,서울특별시 성동구 성수동2가 280 B동 1층 R106호,카페,곳온니플레이스성수점,"['커피', ' 카페']",127.066105,37.546521,https://mp-seoul-image-production-s3.mangoplat...
1138,로우키,4.1,130,12,56,서울특별시 성동구 성수동2가 302-16,카페,로우키,"['커피', ' 카페라떼']",127.051585,37.544206,https://mp-seoul-image-production-s3.mangoplat...
1139,치카이라멘,4.6,260,5,56,서울특별시 성동구 옥수동 293,일식,치카이라멘,"['돈코츠라멘', ' 차슈덮밥']",127.015378,37.542265,https://mp-seoul-image-production-s3.mangoplat...
1140,한우일번지,5.0,30,2,56,서울특별시 성동구 마장동 437,숯불구이,한우일번지,"['한우등심', ' 한우갈비살']",127.041428,37.571126,https://mp-seoul-image-production-s3.mangoplat...
1141,대성갈비,3.4,4810,25,56,서울시 성동구 성수동1가 668-21,숯불구이,대성갈비,"['돼지갈비', ' 냉면']",127.044083,37.547088,https://mp-seoul-image-production-s3.mangoplat...

In [4]:
results = pd.DataFrame(columns=['store', 'point', 'view', 'review', 'star', 'address', 'category', 'join_key', 'menu', 'x', 'y', 'img_url'])

store_name_list = ['대성갈비', '램랜드']

for name in store_name_list:
    result = data[data['store'] == name.strip()]  # 가게 이름 앞뒤 공백 제거
    results = pd.concat([results, result])

In [16]:
import pandas as pd
def input_log(stores):    
    # 가게 이름 입력 받기
    store_name = input("가게 이름을 입력하세요 (여러 개의 가게 이름은 쉼표로 구분): ")
    store_name_list = store_name.split(",")
    
    # 검색 결과를 담을 빈 데이터프레임 생성
    results = pd.DataFrame(columns=['store', 'point', 'view', 'review', 'star', 'address', 'category', 'join_key', 'menu', 'x', 'y'])

    # 가게 정보 검색
    for name in store_name_list:
        result = stores[stores['store'] == name.strip()]  # 가게 이름 앞뒤 공백 제거
        results = pd.concat([results, result])

    # 검색 결과 출력
    return results

In [19]:
store_list = '대성갈비,램랜드'

In [22]:
input_log(data)

,store,point,view,review,star,address,category,join_key,menu,x,y,img_url
1141,대성갈비,3.4,4810,25,56,서울시 성동구 성수동1가 668-21,숯불구이,대성갈비,"['돼지갈비', ' 냉면']",127.044083,37.547088,https://mp-seoul-image-production-s3.mangoplat...

In [3]:
import pandas as pd
test20 = pd.read_csv('/Users/hwangjaesung/Downloads/store_url.csv', index_col=0)
test20

,store,point,view,review,star,address,category,join_key,menu,x,y,img_url
0,램랜드,4.3,49465,34,1324,서울시 마포구 용강동 494-32,한식,램랜드,['양고기'],126.938918,37.543445,https://mp-seoul-image-production-s3.mangoplat...
1,청춘구락부,4.3,14857,11,199,서울시 마포구 용강동 50-4,한식,청춘구락부,['소등심'],126.942890,37.540121,https://mp-seoul-image-production-s3.mangoplat...
2,장꼬방,4.1,143704,154,3694,서울시 서초구 서초동 1316,한식,장꼬방,['단팥죽'],127.023784,37.498330,https://mp-seoul-image-production-s3.mangoplat...
3,프로간장게장,4.0,121224,101,2464,서울시 서초구 잠원동 27-1 프로빌딩,한식,프로간장게장,['간장게장'],127.019174,37.514581,https://mp-seoul-image-production-s3.mangoplat...
4,진동둔횟집,4.0,19085,20,270,서울시 서초구 잠원동 36-18,일식,진동둔횟집,['대구탕'],127.019671,37.512340,https://mp-seoul-image-production-s3.mangoplat...
...,...,...,...,...,...,...,...,...,...,...,...,...
1137,곳 온니 플레이스 성수점,4.3,20,3,56,서울특별시 성동구 성수동2가 280 B동 1층 R106호,카페,곳온니플레이스성수점,"['커피', ' 카페']",127.066105,37.546521,https://mp-seoul-image-production-s3.mangoplat...
1138,로우키,4.1,130,12,56,서울특별시 성동구 성수동2가 302-16,카페,로우키,"['커피', ' 카페라떼']",127.051585,37.544206,https://mp-seoul-image-production-s3.mangoplat...
1139,치카이라멘,4.6,260,5,56,서울특별시 성동구 옥수동 293,일식,치카이라멘,"['돈코츠라멘', ' 차슈덮밥']",127.015378,37.542265,https://mp-seoul-image-production-s3.mangoplat...
1140,한우일번지,5.0,30,2,56,서울특별시 성동구 마장동 437,숯불구이,한우일번지,"['한우등심', ' 한우갈비살']",127.041428,37.571126,https://mp-seoul-image-production-s3.mangoplat...
1141,대성갈비,3.4,4810,25,56,서울시 성동구 성수동1가 668-21,숯불구이,대성갈비,"['돼지갈비', ' 냉면']",127.044083,37.547088,https://mp-seoul-image-production-s3.mangoplat...

In [4]:
url_list = test20['img_url']

In [5]:
url_list

0       https://mp-seoul-image-production-s3.mangoplat...
1       https://mp-seoul-image-production-s3.mangoplat...
2       https://mp-seoul-image-production-s3.mangoplat...
3       https://mp-seoul-image-production-s3.mangoplat...
4       https://mp-seoul-image-production-s3.mangoplat...
                              ...
1137    https://mp-seoul-image-production-s3.mangoplat...
1138    https://mp-seoul-image-production-s3.mangoplat...
1139    https://mp-seoul-image-production-s3.mangoplat...
1140    https://mp-seoul-image-production-s3.mangoplat...
1141    https://mp-seoul-image-production-s3.mangoplat...
Name: img_url, Length: 1142, dtype: object

In [6]:
test21 =pd.read_csv('/Users/hwangjaesung/Documents/capstone/Back/stores_0507_1614.csv', index_col=0)
test21

,store,point,view,review,star,address,category,join_key,menu,x,y,20_woman,20_man
id,,,,,,,,,,,,,
0,램랜드,4.3,49465,34,1324,서울시 마포구 용강동 494-32,한식,램랜드,['양고기'],126.938918,37.543445,0,0
1,청춘구락부,4.3,14857,11,199,서울시 마포구 용강동 50-4,한식,청춘구락부,['소등심'],126.942890,37.540121,0,0
2,장꼬방,4.1,143704,154,3694,서울시 서초구 서초동 1316,한식,장꼬방,['단팥죽'],127.023784,37.498330,1,0
3,프로간장게장,4.0,121224,101,2464,서울시 서초구 잠원동 27-1 프로빌딩,한식,프로간장게장,['간장게장'],127.019174,37.514581,0,0
4,진동둔횟집,4.0,19085,20,270,서울시 서초구 잠원동 36-18,일식,진동둔횟집,['대구탕'],127.019671,37.512340,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1137,곳 온니 플레이스 성수점,4.3,20,3,56,서울특별시 성동구 성수동2가 280 B동 1층 R106호,카페,곳온니플레이스성수점,"['커피', ' 카페']",127.066105,37.546521,0,0
1138,로우키,4.1,130,12,56,서울특별시 성동구 성수동2가 302-16,카페,로우키,"['커피', ' 카페라떼']",127.051585,37.544206,1,0
1139,치카이라멘,4.6,260,5,56,서울특별시 성동구 옥수동 293,일식,치카이라멘,"['돈코츠라멘', ' 차슈덮밥']",127.015378,37.542265,0,1
1140,한우일번지,5.0,30,2,56,서울특별시 성동구 마장동 437,숯불구이,한우일번지,"['한우등심', ' 한우갈비살']",127.041428,37.571126,0,0
1141,대성갈비,3.4,4810,25,56,서울시 성동구 성수동1가 668-21,숯불구이,대성갈비,"['돼지갈비', ' 냉면']",127.044083,37.547088,0,0

In [7]:
test21['img_url'] = url_list
test21

,store,point,view,review,star,address,category,join_key,menu,x,y,20_woman,20_man,img_url
id,,,,,,,,,,,,,,
0,램랜드,4.3,49465,34,1324,서울시 마포구 용강동 494-32,한식,램랜드,['양고기'],126.938918,37.543445,0,0,https://mp-seoul-image-production-s3.mangoplat...
1,청춘구락부,4.3,14857,11,199,서울시 마포구 용강동 50-4,한식,청춘구락부,['소등심'],126.942890,37.540121,0,0,https://mp-seoul-image-production-s3.mangoplat...
2,장꼬방,4.1,143704,154,3694,서울시 서초구 서초동 1316,한식,장꼬방,['단팥죽'],127.023784,37.498330,1,0,https://mp-seoul-image-production-s3.mangoplat...
3,프로간장게장,4.0,121224,101,2464,서울시 서초구 잠원동 27-1 프로빌딩,한식,프로간장게장,['간장게장'],127.019174,37.514581,0,0,https://mp-seoul-image-production-s3.mangoplat...
4,진동둔횟집,4.0,19085,20,270,서울시 서초구 잠원동 36-18,일식,진동둔횟집,['대구탕'],127.019671,37.512340,0,0,https://mp-seoul-image-production-s3.mangoplat...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1137,곳 온니 플레이스 성수점,4.3,20,3,56,서울특별시 성동구 성수동2가 280 B동 1층 R106호,카페,곳온니플레이스성수점,"['커피', ' 카페']",127.066105,37.546521,0,0,https://mp-seoul-image-production-s3.mangoplat...
1138,로우키,4.1,130,12,56,서울특별시 성동구 성수동2가 302-16,카페,로우키,"['커피', ' 카페라떼']",127.051585,37.544206,1,0,https://mp-seoul-image-production-s3.mangoplat...
1139,치카이라멘,4.6,260,5,56,서울특별시 성동구 옥수동 293,일식,치카이라멘,"['돈코츠라멘', ' 차슈덮밥']",127.015378,37.542265,0,1,https://mp-seoul-image-production-s3.mangoplat...
1140,한우일번지,5.0,30,2,56,서울특별시 성동구 마장동 437,숯불구이,한우일번지,"['한우등심', ' 한우갈비살']",127.041428,37.571126,0,0,https://mp-seoul-image-production-s3.mangoplat...
1141,대성갈비,3.4,4810,25,56,서울시 성동구 성수동1가 668-21,숯불구이,대성갈비,"['돼지갈비', ' 냉면']",127.044083,37.547088,0,0,https://mp-seoul-image-production-s3.mangoplat...

In [9]:
test21 = test21[['store', 'point', 'view', 'review', 'star', 'address', 'category',
       'join_key', 'menu', 'x', 'y', 'img_url', '20_woman', '20_man']]

In [12]:
test21 = test21.reset_index())
test21

,id,store,point,view,review,star,address,category,join_key,menu,x,y,img_url,20_woman,20_man
0,0,램랜드,4.3,49465,34,1324,서울시 마포구 용강동 494-32,한식,램랜드,['양고기'],126.938918,37.543445,https://mp-seoul-image-production-s3.mangoplat...,0,0
1,1,청춘구락부,4.3,14857,11,199,서울시 마포구 용강동 50-4,한식,청춘구락부,['소등심'],126.942890,37.540121,https://mp-seoul-image-production-s3.mangoplat...,0,0
2,2,장꼬방,4.1,143704,154,3694,서울시 서초구 서초동 1316,한식,장꼬방,['단팥죽'],127.023784,37.498330,https://mp-seoul-image-production-s3.mangoplat...,1,0
3,3,프로간장게장,4.0,121224,101,2464,서울시 서초구 잠원동 27-1 프로빌딩,한식,프로간장게장,['간장게장'],127.019174,37.514581,https://mp-seoul-image-production-s3.mangoplat...,0,0
4,4,진동둔횟집,4.0,19085,20,270,서울시 서초구 잠원동 36-18,일식,진동둔횟집,['대구탕'],127.019671,37.512340,https://mp-seoul-image-production-s3.mangoplat...,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1137,1137,곳 온니 플레이스 성수점,4.3,20,3,56,서울특별시 성동구 성수동2가 280 B동 1층 R106호,카페,곳온니플레이스성수점,"['커피', ' 카페']",127.066105,37.546521,https://mp-seoul-image-production-s3.mangoplat...,0,0
1138,1138,로우키,4.1,130,12,56,서울특별시 성동구 성수동2가 302-16,카페,로우키,"['커피', ' 카페라떼']",127.051585,37.544206,https://mp-seoul-image-production-s3.mangoplat...,1,0
1139,1139,치카이라멘,4.6,260,5,56,서울특별시 성동구 옥수동 293,일식,치카이라멘,"['돈코츠라멘', ' 차슈덮밥']",127.015378,37.542265,https://mp-seoul-image-production-s3.mangoplat...,0,1
1140,1140,한우일번지,5.0,30,2,56,서울특별시 성동구 마장동 437,숯불구이,한우일번지,"['한우등심', ' 한우갈비살']",127.041428,37.571126,https://mp-seoul-image-production-s3.mangoplat...,0,0
1141,1141,대성갈비,3.4,4810,25,56,서울시 성동구 성수동1가 668-21,숯불구이,대성갈비,"['돼지갈비', ' 냉면']",127.044083,37.547088,https://mp-seoul-image-production-s3.mangoplat...,0,0

In [15]:
test21.drop(['id'], axis=1, inplace=True)

In [17]:
test21

,store,point,view,review,star,address,category,join_key,menu,x,y,img_url,20_woman,20_man
0,램랜드,4.3,49465,34,1324,서울시 마포구 용강동 494-32,한식,램랜드,['양고기'],126.938918,37.543445,https://mp-seoul-image-production-s3.mangoplat...,0,0
1,청춘구락부,4.3,14857,11,199,서울시 마포구 용강동 50-4,한식,청춘구락부,['소등심'],126.942890,37.540121,https://mp-seoul-image-production-s3.mangoplat...,0,0
2,장꼬방,4.1,143704,154,3694,서울시 서초구 서초동 1316,한식,장꼬방,['단팥죽'],127.023784,37.498330,https://mp-seoul-image-production-s3.mangoplat...,1,0
3,프로간장게장,4.0,121224,101,2464,서울시 서초구 잠원동 27-1 프로빌딩,한식,프로간장게장,['간장게장'],127.019174,37.514581,https://mp-seoul-image-production-s3.mangoplat...,0,0
4,진동둔횟집,4.0,19085,20,270,서울시 서초구 잠원동 36-18,일식,진동둔횟집,['대구탕'],127.019671,37.512340,https://mp-seoul-image-production-s3.mangoplat...,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1137,곳 온니 플레이스 성수점,4.3,20,3,56,서울특별시 성동구 성수동2가 280 B동 1층 R106호,카페,곳온니플레이스성수점,"['커피', ' 카페']",127.066105,37.546521,https://mp-seoul-image-production-s3.mangoplat...,0,0
1138,로우키,4.1,130,12,56,서울특별시 성동구 성수동2가 302-16,카페,로우키,"['커피', ' 카페라떼']",127.051585,37.544206,https://mp-seoul-image-production-s3.mangoplat...,1,0
1139,치카이라멘,4.6,260,5,56,서울특별시 성동구 옥수동 293,일식,치카이라멘,"['돈코츠라멘', ' 차슈덮밥']",127.015378,37.542265,https://mp-seoul-image-production-s3.mangoplat...,0,1
1140,한우일번지,5.0,30,2,56,서울특별시 성동구 마장동 437,숯불구이,한우일번지,"['한우등심', ' 한우갈비살']",127.041428,37.571126,https://mp-seoul-image-production-s3.mangoplat...,0,0
1141,대성갈비,3.4,4810,25,56,서울시 성동구 성수동1가 668-21,숯불구이,대성갈비,"['돼지갈비', ' 냉면']",127.044083,37.547088,https://mp-seoul-image-production-s3.mangoplat...,0,0

In [18]:
test21.to_csv('/Users/hwangjaesung/Downloads/store_0507_1614.csv', index = True)